.vscode/**
nimsuggest/nimcache/**
nimsuggest/nimsuggest.exe
nimsuggest/nimsuggest
typings/**
out/test/**
tests/**
src/**
**/*.map
*.db
vscodeNim/**
.gitignore
tsconfig.json
tslint.json
node_modules/**